/* Error: expected ";".
 *   ,
 * 3 | $fuentesubtitulos:
 *   |                  ^
 *   '
 *   scss\utilities\_variables.scss 3:18  @import
 *   scss\estilos.scss 1:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 3 \2502  $fuentesubtitulos:\d\a   \2502                   ^\a   \2575 \a   scss\\utilities\\_variables.scss 3:18  @import\a   scss\\estilos.scss 1:9                root stylesheet';
}
