.header{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column 3;
    background: linear-gradient(rgb(67, 141, 67),yellow)
    
}
.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 5px 15px 15px 20px;    
}

.frase{
    
    font-size: 40px ;
    color: gold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px 20px 20px 20px;
}

.h1titulo{

    background-color: rgb(11, 58, 7);
    font-size: 30px ;
    background: linear-gradient(rgb(67, 141, 67),yellow)
    border-radius: 10px;
    display: flexbox; 
    margin-left: 20px;

}

body {
    background-color: #f7c8c8;
}
.h2titulo{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: rgb(41, 31, 5);
    font-family: monospace;
    border-radius: 10px;
    margin-left: 15px;
}
.imge{
    width: 690px;
    height: 500px;
}
.imgc{
    width: 520px;
    height: 580px;
}
.imglibreria{
    display: flex;
    
    width: 570px;
    height: 320px;
}
.mapa{
    width: 100px;
    height: 90px;
}
.videoinicio{
    width: 100px;
    height: 90px;
}
.estrellas{
    width: 100px;
    height: 90px;
}
.elementosenlineamapa{
    display: inline;
    margin: 5px 50px 5px 50px;  
}
.elementoenlineavideo{
    display: inline;
    margin: 5px 100px 5px 50px ;
}
.elementosenlineaestrellas{
    display: inline;
    margin: 5px 100px 5px 50px;
}
.div{
    font-size: 16px;
    margin-left: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif  
}
.buscar{
    margin-left: 25px;
}

.classimgflex{
    
    display: flex;
    margin-left: 100px;

}
.menunav{
    border-radius: 15px;
    box-sizing: border-box;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
  /* Estilos del contenedor */
.contenedor {
    display: flex;           /* Hacemos que el contenedor use flexbox */
    justify-content: space-between; /* Espacio igual entre columnas */
    gap: 10px;               /* Espacio entre columnas */
}

/* Estilos de las columnas */
.columna {
    flex: 1;                 /* Las columnas se distribuyen equitativamente */
    border: 1px solid #000;  /* Solo para visualizar mejor */
    padding: 10px;           /* Espacio interno */
    box-sizing: border-box;  /* Incluye el padding y border en el width */
}

  
